.footer-section {
  background-color: #181818;
  width: 100%;
  max-height: 100px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
}
.icons-container {
  width: 150px;
  display: flex;
  justify-content: space-between;
}
.google-icon {
  width: 20px;
  height: 20px;
  color: #fff;
}
.twitter-icon {
  width: 20px;
  height: 20px;
  color: #fff;
}
.instagram-icon {
  width: 20px;
  height: 20px;
  color: #fff;
}
.youtube-icon {
  width: 20px;
  height: 20px;
  color: #fff;
}
.contact {
  color: #fff;
  font-size: 15px;
  font-family: 'HK Grotesk';
  font-weight: 500;
  line-height: 1.7;
}
